#content {

  #top-info {

    p {
      text-align: justify;
      margin: 10px;
      margin-top: 60px;
      margin-right: 30px;
    }

    #about-photo {
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
      margin-top: -50px;
      width: 12vw;
      height: 12vw;
      min-width: 50px;
      min-height: 50px;
    }
  }
}
