@import "../layout/layout";

$product-size: 300px;

#products-list {
  // flex-direction: row;
  // flex-grow:
  display: flex;

  ul {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }

  li {
    flex-grow: 1;
    height: $product-size;
    display: flex;
    align-items: center;
    justify-content: center;

    .product {
      position: relative;

      .description {
        visibility:hidden;
        position: absolute;
        top: 20%;
        text-align: center;
        width: 100%;
      }
    }

    .product:hover {

      .description {
        visibility: visible;
      }

      .product-image {
        opacity: 0.3;
      }
    }

    .product-image, .product {
      flex-grow: 1;
      max-width: $product-size;
      max-height: 100%;
    }
  }

}

.display-flex {
  display: -webkit-flex;
  display: flex;
}

.hidden {
  display: none;
}

.zoom-product {
  position: fixed;
  top:10vh;
  left: 20vw;
  width: 60vw;
  height: 70vh;
  z-index: 99;
  background-color: #CCC;
  border-radius: 5px;

  .zoom-image {
    width: 100%;
    max-width: 70vh;
    height: 100%;
    max-height: 70vw;
    border-radius: 5px;
  }
}
