<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<form id="uploadForm" enctype="multipart/form-data" method="post">
		<input type="text" name="nameRo", value="nameRo"/>
		<input type="text" name="nameRu", value="nameRu"/>
		<input type="text" name="price", value="price"/>
		<input type="text" name="descriptionRo", value="descriptionRo"/>
		<input type="text" name="descriptionRu", value="descriptionRu"/>
		<input type="text" name="unitRo", value="unitRo"/>
		<input type="text" name="unitRu", value="unitRu"/>
		<input type="text" name="categoryId", value="categoryId"/>
		<input type="file" name="userFile" />
		<input type="submit" value="Upload File" name="submit">
	</form>
</body>
</html>
