<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Adding Products</title>
	<style media="screen">
		form {
			display: flex;
			flex-direction: column;
			width: 500px;
		}

		form .form-items {
			margin-bottom: 20px;
		}
	</style>
</head>
<body>
	<form id="productForm" enctype="multipart/form-data" method="post">
		<input class="form-items" type="text" name="nameRo", placeholder="nameRo"/>
		<input class="form-items" type="text" name="nameRu", placeholder="nameRu"/>
		<input class="form-items" type="text" name="price", placeholder="price"/>
		<textarea class="form-items" name="descriptionRo", placeholder="descriptionRo" rows="4" cols="50">
		</textarea>
		<textarea class="form-items" name="descriptionRu", placeholder="descriptionRu" rows="4" cols="50">
		</textarea>
		<input class="form-items" type="text" name="unitRo", placeholder="unitRo"/>
		<input class="form-items" type="text" name="unitRu", placeholder="unitRu"/>
		<select class="form-items" id="allCategories" name="categoryId">
		</select>
		<input class="form-items" type="file" name="userFile"/>
		<input class="form-items" type="submit" name="submit" value="Create Product"/>
	</form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
	$('textarea').val('')
	$.getJSON("../category/getAllCategories", null, function(data) {
		$("#allCategories option").remove() // Remove all <option> child tags.
		$.each(data, function(index, item) { // Iterates through a collection
				$("#allCategories").append( // Append an object to the inside of the select box
						$("<option></option>") // Yes you can do this.
								.text(item.nameRo +  ' ' + item.nameRu)
								.val(item._id)
				)
		})
	})
</script>
</html>
