<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Adding Products</title>

</head>
<body>
	<form id="uploadForm" enctype="multipart/form-data" method="post">
		<input type="text" name="nameRo", placeholder="nameRo"/>
		<input type="text" name="nameRu", placeholder="nameRu"/>
		<input type="text" name="price", placeholder="price"/>
		<textarea name="descriptionRo", placeholder="descriptionRo" rows="4" cols="50">
		</textarea>
		<textarea name="descriptionRu", placeholder="descriptionRu" rows="4" cols="50">
		</textarea>
		<input type="text" name="unitRo", placeholder="unitRo"/>
		<input type="text" name="unitRu", placeholder="unitRu"/>
		<select id="allCategories" name="categoryId">
		</select>
		<input type="file" name="userFile"/>
		<input type="submit" name="submit" value="Create Product"/>
	</form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
	$('textarea').val('')
	$.getJSON("../category/getAllCategories", null, function(data) {
		$("#allCategories option").remove(); // Remove all <option> child tags.
		$.each(data, function(index, item) { // Iterates through a collection
				$("#allCategories").append( // Append an object to the inside of the select box
						$("<option></option>") // Yes you can do this.
								.text(item.nameRo +  ' ' + item.nameRu)
								.val(item._id)
				);
		});
	});
</script>
</html>
