$primary-color: #F0D43A;
$secondary-color: #cc3300;
$header-footer-height: 70px;

#header {
  // background-color: $primary-color;
  top: 0;
  height: $header-footer-height;
  width: auto;
  box-shadow: 0 1px 1px $secondary-color;
  color: $secondary-color;
  z-index: 1;
}

#main {
  flex: 1;
  display: flex;
  flex-flow: row;
  margin: auto;
}

#sidebar {
  flex-basis: 25%;
  order: 1;
  // background-color: #22B2DA;
}


#content {
  // background-color: #2D4059;
  flex-basis: 75%;
  order: 2;
}

#footer {
  background-color: $primary-color;
  position: relative;
  bottom: 0;
  width: auto;
  height: $header-footer-height;
  clear: left;
  width: 100%;
  box-shadow: 0 -1px 1px $secondary-color;
  color: $secondary-color;
}
