#header {
  top: 0;
  height: 70px;
  width: auto;
  box-shadow: 0 1px 1px #cc3300;
  color: #cc3300;
  z-index: 1; }

#main {
  -ms-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
  flex-flow: row;
  margin: auto; }

#sidebar {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  -ms-flex-order: 1;
  order: 1; }

#content {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  -ms-flex-order: 2;
  order: 2; }

#footer {
  background-color: #F0D43A;
  position: relative;
  bottom: 0;
  width: auto;
  height: 70px;
  clear: left;
  width: 100%;
  box-shadow: 0 -1px 1px #cc3300;
  color: #cc3300; }

.header {
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .header #logo {
    width: 90px;
    height: 60px;
    margin: 5px 50px; }
  .header #phone-section {
    font-style: italic;
    display: -ms-flexbox;
    display: flex;
    margin-left: 100px;
    -ms-flex-flow: column;
    flex-flow: column;
    margin-top: 5px; }
    .header #phone-section #phone-icon {
      width: 23px;
      height: 23px; }
    .header #phone-section #phone-number {
      font-size: 23px; }
  .header a {
    text-decoration: none; }
  .header #contacte {
    font-size: 20px;
    margin-left: 100px;
    margin-top: 10px;
    padding: 10px;
    height: 50px; }
    .header #contacte #pin {
      width: 20px;
      height: 20px;
      margin-top: -5px; }
  .header .active-cont {
    background-color: #F0D43A;
    border: 1px solid #cc3300;
    border-radius: 5px; }
